figure {
    margin: 0
}
video.audio-av {
    object-fit: contain;
}

::cue {
    font-size: 16px;
    background-color: black;
    color: ghostwhite;
}

video.video-av {
    object-fit: contain;
}


video.audio-av::-webkit-media-text-track-display {
    font-size: 16px;
    top: -100% !important;
}


