/*
 * Custom overrides for BookReader IIIF formattter.
 */

/* Hide print and embed functionality */
.BRtoolbar .embed, .print {
    display: none;
}

.BookReader {
    overflow: hidden;
    margin: 20px;
    background-color: rgba(245,245,245,1) !important;
}

.BookReader.fullscreenActive {
    width: 100% !important;
    height: 100% !important;
}

.BRtoolbar,.BRnav {
    background-color: rgb(195,195,195) !important;
}

.BRsearchInput {
  color: rgb(45, 45, 45) !important;
}

.BRtoolbarbuttons .BRpill {
    border: 1px solid #b8b8b8;
    padding: 0.3em 0.4em 0.3em 0.5em !important;
    height: 30px;
    border-radius: 2px !important;
    vertical-align: middle;
    font-size: 1em !important;
    cursor: pointer;
    background-color: rgb(245, 245, 245) !important;
    color: rgb(95, 95, 95) !important;
}

.BRbooksearch.desktop {
    box-sizing: border-box;
    padding: 0.3em 0.4em 0.3em 0.5em;
    max-width: 100%;
    border: 1px solid #b8b8b8;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    font-size: 1em;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    background-color: rgb(245,245,245) !important;
    color: rgb(45,45,45) !important;
}

/* Zoom box */
div#BRviewpage {
	width: inherit;
	max-width: 97%;
	height: 97%;
	margin: 1%;
	text-align: center;
}

div.viewpLeft, div.viewpRight {
	font-size: 1.1em;
	color: black;
	height: 100%;
	width: 48%;
	display: inline-block;
	padding: 1%;
}

/* jquery mmenu */
#BRmobileMenu.mm-menu {
    --mm-color-background: #b4b7c1;
    --mm-navbar-size: 65px;
}
#BRmobileMenu .mm-navbars_top {
    padding-bottom: calc(var(--mm-navbar-size) * .25);
}
#BRmobileMenu.mm-menu_navbar_top-1 .mm-panels {
    top: calc(var(--mm-navbar-size) * 1.2);
}

/* social share */
.BRshare .share-social .form-check {
    line-height: 1.5em;
}
.BRshare .form-check .form-check-input {
    float: none;
}
.BRfloat label.sub.open-to-this-page.form-check-label {
    padding: 0;
    display: inline-block;
    margin: 0 5px;
}
.BRshare .share-twitter, .BRshare a.btn.btn-primary.share-twitter, .BRmobileShare a.btn.share-twitter {
    background-color: #429aff !important;
    border-color: #429aff !important;
    color: #fff !important;
    white-space: nowrap;
}
.BRshare .share-facebook, .BRshare a.btn.share-facebook, .BRmobileShare a.btn.share-facebook {
    background-color: #3a5998 !important;
    border-color: #3a5998 !important;
    color: #fff !important;
    white-space: nowrap;
}
.BRshare .share-email, .BRshare a.btn.share-email, .BRmobileShare a.btn.share-email {
    background-color: #c1c1c1 !important;
    border-color: #c1c1c1 !important;
    color: #fff !important;
    white-space: nowrap;
}
.BRshare a.btn.btn-primary.share-twitter:hover, .BRmobileShare a.btn.share-twitter:hover {
    border-color: #429aff !important;
}
.BRshare a.btn.share-facebook:hover, .BRmobileShare a.btn.share-facebook:hover {
    border-color: #3a5998 !important;
}
.BRshare a.btn.share-email:hover, .BRmobileShare a.btn.share-email:hover {
    border-color: #c1c1c1 !important;
}
.BRshare .row {
    margin-top: 15px;
}
.BRshare a.btn.btn-primary, .BRmobileShare a.btn.btn-primary {
    width: 125px;
}
.BRmobileShare .col-sm-12 {
    margin-bottom: 15px;
}
.BRshare .share-social button {
    background-color: #c1c1c1;
    margin-top: 15px;
}
.BRshare .share-social button {
    border-color: #c1c1c1;
}
.BRmobileMenu div.share-social button {
    background-color: #8a8f9e;
    margin-top: 15px;
    margin-bottom: 20px;
}
.BRmobileMenu div.share-social button:hover {
    border-color: #8a8f9e;
}
@media (max-width: 800px) {
    .BRmobileShare i.BRicon.fb {
        width: 34px;
        height: 34px;
        background-position: -1603px center;
    }
    .BRmobileShare i.BRicon.twitter {
        width: 34px;
        height: 34px;
        background-position: -1643px center;
    }
    .BRmobileShare i.BRicon.email {
        width: 34px;
        height: 34px;
        background-position: -1683px center;
    }

}