/* using row here allows us to not interfer with non Bootstrap themes */
.path-metadatadisplay .row #metadata-preview-container {
  position: sticky;
  top: 0;
  background: white;
  z-index:200;
}

.path-metadatadisplay .row .form-actions {
  position: sticky;
  bottom: 0;
  background: white;
  z-index:200;
}
