.popper-background {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display:none;
}

.popper-background[data-show] {
    display: block;
}

.popper-arrow,
.popper-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.popper-arrow {
    visibility: hidden;
}

.popper-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.popper-background[data-popper-placement^='top'] >.popper-arrow {
    bottom: -4px;
}

.popper-background[data-popper-placement^='bottom'] > .popper-arrow {
    top: -4px;
}

.popper-background[data-popper-placement^='left'] > .popper-arrow {
    right: -4px;
}

.popper-background[data-popper-placement^='right'] > .popper-arrow {
    left: -4px;
}
