.facet-slider {
  margin-top: 40px;
}

.facet-slider.ui-slider-float .ui-slider-tip {
  visibility: visible;
  opacity: 1;
  top: -30px;
}

.facets-widget-sbf_range_date_slider {
    color: black;
    color: var(--bb-primary-dark, var(--bs-body-color, black)) !important;
}

.facets-widget-sbf_range_date_slider .form-control {
  color: black;
  color: var(--bb-primary-dark, var(--bs-body-color, black)) !important;
}