{#
/**
* @file
* Theme implementation to display a Leaflet map.
*
* This creates a placeholder for the map to be injected in.
*
* Available variables:
* - id
* - height
*
*
* @ingroup themeable
*
*/
#}
<div{{ attributes }}></div>
