facet.widget.config.sbf_date_range:
  type: facet.widget.default_config
  label: 'List of range widget configuration'
  mapping:
    set_defaults_from_results:
      type: integer
      label: 'Use default max/min from reslts'
    show_reset_link:
      type: integer
      label: 'Show Reset Link'
    reset_text:
      type: string
      label: 'Text to be used in the reset button'
    hide_reset_when_no_selection:
      type: integer
      label: 'Hide Reset when no selection'

plugin.plugin_configuration.facets_processor.sbf_date_range:
  type: mapping
  label: 'Format Strawberryfield Date Range Picker'
  mapping:
    enabled:
      type: integer
      label: 'If enabled'
    variable_granularity:
      type: integer
      label: 'If Variable granularity is going to be used'

facet.widget.config.sbf_range_date_slider:
  type: facet.widget.default_config
  label: 'List of range widget configuration'
  mapping:
    prefix:
      type: label
      label: 'Prefix'
    suffix:
      type: label
      label: 'Suffix'
    min_type:
      type: string
      label: 'Minimum type'
    min_value:
      type: float
      label: 'Minimum value'
    max_type:
      type: string
      label: 'Maximum type'
    max_value:
      type: integer
      label: 'Maximum value'
    restrict_to_fixed:
      type: Boolean
      label: 'Always cap values to Fixed max and min'
    step:
      type: integer
      label: 'Step'
    allow_full_entry:
      type: boolean
      label: 'Allows manual Full entry'
    allow_year_entry:
      type: boolean
      label: 'Allows manual Year entry'
    show_ad_bc:
      type: boolean
      label: 'Show BC/AD for negative dates'
    show_reset_link:
      type: boolean
      label: 'Show reset link'
    hide_reset_when_no_selection:
      type: boolean
      label: 'Hide Reset when no active value'
    reset_text:
      type: text
      label: 'Label for the Reset Link'
    submit_text:
      type: text
      label: 'Label for the Submit Button'
    step_variable_granularity:
      type: boolean
      label: 'Vary Steps based on Facets max/min'

plugin.plugin_configuration.facets_processor.sbf_exclude_specified_items:
  type: mapping
  label: 'Format Strawberryfield Exclude specified items'
  mapping:
    exclude:
      type: string
      label: Exclude
    regex:
      type: boolean
      label: Regex
    invert:
      type: boolean
      label: Invert
    exclude_case_insensitive:
      type: boolean
      label: Use Case insensitive comparison
# inherited from the facet_summary module
plugin.plugin_configuration.facets_summary_processor.sbf_last_active_facets:
  type: mapping
  label: 'Last Active Processor Facet Summary'
  mapping:
    enable:
      type: integer
      label: 'Enabled'
    enable_empty_message:
      type: integer
      label: 'Enable Empty Message'
    enable_query:
      type: integer
      label: 'Enable Full text search terms as Facet Summary Entry'
    multiple_query:
      type: integer
      label: 'Multiple Full text search terms as Facet Summary Entries'
    quote_query:
      type: boolean
      label: 'If Full Text search terms will be surrounded by Double Quotes or not'
    text:
      type: mapping
      mapping:
        format:
          type: string
          label: Text format
        value:
          type: string
          label: The Text used for Empty
